%btn {
  padding: 10px 40px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  outline: none;

  &:hover {
    background: rgba(94, 241, 207, 0.2);
    color: $secondary-color;
  }
}

.btn-course,
.btn-contact {
  @extend %btn;

  border: 2px solid $secondary-color;
  margin-bottom: 3em;
  color: $secondary-color;
  font-size: 1em;
}

.btn-resume {
  @extend %btn;

  border: 2px solid $secondary-color;
  color: $secondary-color;
  font-size: 1em;
}

.btn-submit-message {
  @extend %btn;

  border: 2px solid $secondary-color;
  color: $secondary-color;
  font-size: 1em;
}
