*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  @include set-background($primary-color);
  background-color: $secondary-color;
  line-height: 1.6;
}
