$font-family: "Nunito", sans-serif;
// $primary-color: #36e600;
$primary-color: rgba(10, 25, 47, 0.85);
$secondary-color: rgba(94, 241, 207, 1);
$secondary-color-2: rgba(94, 241, 207, 0.4);
$tertiary-color: rgba(171, 182, 212, 1);
$spacing-one: 1em;
$spacing-two: 2em;
$display-flex: flex;
$flex-row: row;
$flex-column: column;

@function set-font-color($color) {
  @if (lightness($color) > 10) {
    @return rgba(10, 25, 47, 0.85);
  } @else {
    @return blue;
  }
}

//Padding
$sizes: (1, 2, 3, 4, 5, 6);

@each $size in $sizes {
  .pd-#{$size} {
    padding: #{$size}em;
  }

  .fs-#{$size} {
    font-size: #{$size}em;
  }
}
