@import "variables";
@import "mixins";
@import "utils";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

.font-2 {
  font-family: "Titillium Web", Times, serif;
  font-weight: 700;
}

body {
  background: #0a192f;
}

.logo {
  width: 80px;
}

.flex {
  display: flex;
}

.none {
  list-style: none;
}

.color-1 {
  color: $secondary-color;
}

.color-2 {
  color: $tertiary-color;
}

.white {
  color: #fff;
}

.heading-hr {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    margin-top: 3em;
  }

  hr {
    flex-grow: 1;
  }
}

aside {
  display: none;
}

.nav-list {
  display: none;
  position: fixed;
  background-color: rgba(10, 25, 47, 0.95);
  overflow: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
  width: 100%;
  height: 90vh;
  margin: 0 auto;

  li {
    margin-bottom: 20px;
    text-align: right;
    padding-right: 10px;

    a {
      text-decoration: none;
    }
  }
}

nav {
  width: 100%;
  position: fixed;
  background-color: #0a192f;
  z-index: 1;

  .mobile-view {
    display: $display-flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 25px;
    cursor: pointer;

    .logo {
      width: 50px;
    }

    .fa-bars,
    .fa-close {
      font-size: 2em;
      color: $secondary-color;
    }

    .fa-close {
      display: none;
    }

    .fa-bars:hover,
    .fa-close:hover {
      color: $tertiary-color;
    }
  }
}

.home {
  width: 100%;

  .intro {
    color: $secondary-color;
    margin-top: 8em;
  }

  .home-header {
    color: #fff;
  }

  .home-info {
    color: $tertiary-color;
  }

  .home-about-me {
    color: $tertiary-color;
    margin-bottom: 4em;
    text-align: justify;
  }
}

.about-me {
  text-align: justify;

  p {
    margin-bottom: 1em;
  }

  .technologies {
    list-style: none;
    margin-bottom: 3em;
    width: 100%;

    .technologies-list {
      display: flex;
      gap: 1em;
    }

    li::before {
      content: "▹";
      padding-right: 10px;
      font-size: 20px;
      color: $secondary-color;
    }
  }

  .about-me-photo {
    display: flex;
    justify-content: center;

    .photo {
      background: url("../images/profile-photo-2.png") no-repeat;
      height: 350px;
      width: 350px;
      background-size: contain;
      background-position: center;
      position: relative;
      margin: auto;
      border-radius: 10px;
    }

    .layer {
      position: absolute;
      top: 0;
      left: 0;
      // background-color: rgba(94, 241, 207, 0.6);
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .about-me-photo:hover {
    .layer {
      display: none;
    }
  }
}

.experience {
  text-align: justify;

  .active {
    color: $secondary-color;
    background-color: rgba(94, 241, 207, 0.1);
    border-bottom: 3px solid $secondary-color;
    margin-bottom: -2px;
    font-weight: bold;
  }

  .work-places {
    display: flex;
    flex-direction: column;

    .works {
      width: 100%;
    }

    .work-title {
      font-size: 1.5em;
    }

    .companies {
      border-bottom: 1px solid $tertiary-color;
      margin-bottom: 1em;
      display: flex;
      flex-direction: row;
      gap: 1em;
      cursor: pointer;

      li {
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .work-places {
      align-items: center;
    }

    .cyber-work,
    .miic-work {
      display: none;
    }

    .roles {
      width: auto;
      height: auto;

      li::before {
        content: "▹";
        padding: 10px;
        font-size: 20px;
        color: $secondary-color;
      }
    }
  }
}

.projects {
  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
  }

  .projects-bg {
    height: 20em;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .project-info {
    position: relative;
    flex-basis: 50%;
    padding: 1rem;

    .featured {
      color: $secondary-color;
    }

    .project-header:hover {
      color: $secondary-color;
      cursor: pointer;
    }

    p {
      color: #fff;
      text-align: justify;
      margin-bottom: 1em;
    }

    .project-tools {
      display: flex;

      .tools-list {
        word-wrap: break-word;
        padding-right: 10px;
        margin-bottom: 15px;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;

    .fa {
      color: $tertiary-color;
      margin-right: 0.7em;
      font-size: 1.5em;
      cursor: pointer;
    }

    .fa:hover {
      color: $secondary-color;
    }
  }
}

.contact-me {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 5em;

  p {
    color: $tertiary-color;
    margin-bottom: 2em;
  }

  .contact-me-btn {
    display: flex;
    justify-content: center;
  }

  .contact-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1em;
    left: 2em;
    position: fixed;
    margin: auto;
    width: 90%;
    background: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    overflow: auto;
    visibility: hidden;
    z-index: 1001;
    height: 95vh;

    .contact-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      p {
        margin: 0;
        color: $secondary-color;
        font-size: 1.3em;
      }

      .fa {
        font-size: 2em;
        padding-right: 0;
        cursor: pointer;
      }
    }

    label {
      display: none;
    }

    input,
    textarea {
      width: 100%;
      outline: 0;
      margin-bottom: 1.5em;
      border: 0;
      color: $primary-color;
      font-size: 1em;
      border-radius: 5px;
      padding: 1em;
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 1em;
      color: $primary-color;
      font-family: "Verdana", Geneva, Tahoma, sans-serif;
    }

    #name:focus,
    #email:focus,
    #message:focus {
      box-shadow: 0 0 0.5px 1px $secondary-color;
    }

    input:invalid,
    textarea:invalid {
      box-shadow: 0 0 0 1px red;
    }
  }
}

footer {
  ul > li > a {
    font-size: 2em;
    color: $tertiary-color;
  }

  ul > li > a:hover {
    color: $secondary-color;
  }

  p {
    color: $tertiary-color;
  }
}

.header-hr {
  margin-bottom: $spacing-one;
  margin-top: $spacing-one;
  border-top: 0;
}

.contact-me {
  width: 100%;
}

footer {
  text-align: center;

  .footer-icons {
    text-align: center;
    justify-content: center;

    li {
      padding: 10px;
    }

    p {
      color: darken($primary-color, 30%);
    }
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    z-index: 5;
    width: 100%;
    height: 100px;
    position: fixed;
    border-bottom: 1px solid $secondary-color;

    .sidebar-left > ul > li > a {
      color: $tertiary-color;
    }

    .sidebar-left > ul > li > a:hover,
    .sidebar-right > p:hover {
      color: $secondary-color;
    }

    .sidebar-right,
    .sidebar-left {
      height: 100vh;
      width: 100px;
    }

    .sidebar-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100px;
      gap: 16em;
    }

    .sidebar-icons {
      list-style: none;
      padding: 15px;
      font-size: 2.5em;
      margin: 0 auto;
    }

    .sidebar-icons > li {
      padding: 5px;
    }

    .sidebar-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .mobile-menu {
      display: none;
    }

    aside {
      display: block;
    }

    .nav-list {
      display: flex;
    }

    nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #0a192f;

      .mobile-view {
        padding: 0;
        width: 10%;
      }
    }

    .nav-list {
      position: relative;
      display: flex;
      list-style: none;
      gap: $spacing-one;
      align-items: center;
      height: auto;
      background-color: transparent;
      width: auto;

      li a {
        text-decoration: none;
      }

      .btn-resume {
        margin-right: 15px;
      }

      li a .nav-title:hover {
        color: #fff;
      }
    }
  }

  main {
    width: 90%;
    margin: auto;
    padding: 4em;
  }

  .home {
    width: 100%;
    padding: 3em 0 0 0;

    .home-header {
      font-size: 3em;
    }

    .home-info {
      font-size: 2.5em;
      margin-bottom: 1em;
    }

    .home-about-me {
      font-size: 1.2em;
      text-align: justify;
    }
  }

  .intro {
    color: $secondary-color;
  }

  hr {
    height: 100px;
    rotate: 180deg;
    margin: 0 auto;
    width: 0;
  }

  .header-hr {
    height: 0;
    rotate: 180deg;
    width: 100%;
  }

  .home-email {
    font-size: 30px;
    rotate: 90deg;
  }

  section {
    margin-bottom: 4em;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1em;

    .about-me-body {
      display: flex;
      flex-direction: row;
      gap: 1em;
    }

    .about-me-info {
      width: 70%;
      font-size: 1.1em;
    }

    .about-me-photo {
      width: 50%;

      .photo {
        height: 100%;
        width: 100%;
      }
    }
  }

  .experience {
    padding: 0;

    .work-places {
      display: grid;
      grid-template-columns: 40% 60%;
      width: 80%;
      margin: auto;

      .works {
        width: 100%;

        .companies {
          display: flex;
          flex-direction: column;
          border-bottom: 0;
          border-left: 1px solid $secondary-color;
          padding: 10px 0 10px 0;

          li {
            border-radius: 0;
            padding: 5px;
            background: none;
          }
        }

        .active {
          border-bottom: 0;
          border-left: 5px solid $secondary-color;
          margin-left: -3px;
          font-weight: bold;
        }
      }
    }
  }

  .projects {
    padding: 0;

    .projects-div {
      display: flex;
      flex-direction: column;
    }

    .projects-container {
      display: flex;
      flex-direction: row;

      .project-info {
        flex-basis: 50%;
      }

      .projects-bg {
        // height: 20em;
        flex-basis: 50%;
      }
    }
  }

  .contact-me {
    padding: 0;
  }
}
